
<div class="col-md-4 " >
<div class="card">
    <div class="card-block">

        <!--Header-->
        <div class="form-header  purple darken-4">
            <h3><i class="fa fa-lock"></i> Login:</h3>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <!--Body-->
        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" [(ngModel)]="opcito_email" name="opcito_email" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" [(ngModel)]="password" name="password" class="form-control">
            <label for="form4">Your password</label>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-deep-purple">Login</button>
        </div>
        </form>
    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p>Not a member? <a href="#">Sign Up</a></p>
            <p>Forgot <a href="#">Password?</a></p>
        </div>
    </div>

</div></div>